body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/backimg.png);
}
#list img{
    border-radius: 50%;
    cursor: pointer;
}
#computer-selection{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.game{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#computer-result{
    border-radius: 50%;
}
.common-selection{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
#result{
    font-size: 40px;
    color: #dbd1d1;
}

